/*Some necessary adjustments*/
h1, body, html, main {
  margin: 0;
}
/*Import the font and set the default size*/
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px
}

header {
  height: 700px;
  width: 100%;
  background-size: cover;
  color: rgb(36,41,46);
  background-image: url("../images/soup.jpg");
  align: center;
  text-align: center;
}

h1 {
  text-align: center;
  line-height:700px;
}

.recipesFrench {
  height: 70px;
  width: auto;
  padding-left: 370px;
}

h1 {
  position: relative;
}

body {
  margin: 0px;
  font-family: opensans;
  color: rgb(36,41,46);
  font-size: 25px;
}
p {
  font-size: 1.55em;
  color: rgb(36,41,46);
  line-height: 1.5;
  text-align: justify;
}

li {
  font-size: 1.3em;
  line-height: 1.5;
  color: rgb(36,41,46);
}
